span{
  color: var(--brandblue);
  font-weight: 700;
}

p{
  font-weight: 500;
}

a{
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #374151;
  font-size: 24px;
  margin: 0;
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  padding: 10px 200px 10px;
}



footer{
  display: flex;
  justify-content: space-between ;
  background-color: #111827;
  padding: 32px 200px 108px 200px;
  color: #9ca3af;
  gap: 10px;
  width: 100%;
}

.panda-login{
  cursor: pointer;
  background-color: var(--brandblue);
  border-radius: 8px;
  padding: 12px 20px;
  width: 128px;
  height: 48px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}


.panda-banner{
  display: flex;
  justify-content: center;
  padding: 170px 224px 0px 360px;
  background-color: var(--maincolor);
  line-height: 56px;
}


.panda-banner img{
  width: 996px;
  height: 448px;
}

.item-button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: var(--brandblue);
  color: #ffffff;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 16px;
}

.panda-login:hover, .item-button:hover{
  background-color: #1967D6;
  transition: 0.7s;
}

.pander-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 138px 360px 138px 360px;
}

.pander-img{
  flex: 1 0 50%;
  max-width: 588px;
  height: 444px;
  padding: 0px auto 0px auto;
  border-radius: 12px;
}

.pander-info{
  width: 588px;
  margin-left: 64px;
}

.pander-info-center{
  width: 588px;
  text-align: right;
  margin-right: 64px;
}

.footer-link{
  color: #9ca3af;
}

.footer-link, .footer-sns{
  cursor: pointer;
}

.footer-sns{
  display: flex;
  justify-content: space-between;
  width: 116px;
}

.footer-sns img{
  width: 18px;
  height: 18px;
}